body{
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgrey;

}

.form{
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    border-radius: 10px;
    margin: 10px;

}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: lightgreen;
    border: 3px solid lightgreen;

}

.input::placeholder{
    color: lightgray;
    font-family: cursive;
}

.btn{
    background-color: lightgreen;
    border: none;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
}

.score{
    color: navy;
    text-align: right;
}